<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" media="all">
    <title>My Albums</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>My Albums</h1>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <h2>Add a CD to your Library</h2>
          <form action="/confirmation" method="post">
            <div class="form-group">
              <label for="artist">Enter Artist Name</label>
              <input type="text" name="artist" id="artist">
            </div>
            <div class="form-group">
              <label for="album">Enter Album Name</label>
              <input type="text" name="album" id="album">
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
          </form>
        </div>

        <div class="col-sm-6">

          <a href="/"><button class="btn btn-success">Home</button></a>



        </div>

      </div>
    </div>
  </body>
</html>
