<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" media="all">
    <title>My Albums</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>My Albums</h1>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <h2>Albums that match your search:</h2>
          {% for cd in newcd %}
              <p> Artist: {{ cd.getArtist }}</p>
              <p> Album: {{ cd.getAlbum }}</p>
          {% endfor %}
          {% if newcd is empty %}
              <h3>Welcome to the future home of your CD Library</h3>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
